venv/*
Neo4J-Credentials.txt
flask/*
repo-tree*
nopCommerce/*
kb/graph/nopCommerce_tree.json
.env
chroma_db/*
*.ipynb
repo_function.json
file_metrics.json
Presentations/*
cmpt360-a4-main/*
repos/*
generated_tests/*
__pycache__/*
.pytest_cache/*
kb/*/__pycache__/*
kb/__pycache__/*
kuzu_db/*
diagrams/*
weakness/*
reports/*
sql_server.sh
kuzu_db